.main {
  width: 100%;
  overflow-x: hidden;
  position: absolute;
  min-width: 500px;
  resize: none;
  height: 100%;

  .top_title {
    background: white;
    height: 70px;
    text-align: center;
    color: #5D5D61;
    border-bottom: 1px solid #E4E4E4;

    .holder {
      text-align: center;
      display: inline-flex;
      margin-top: 13px;

      img {
        height: 40px;
        display: inline;
        content: url(".././icon.png");
      }
      h3 {
        margin: 0 0 0 6px;
        font-weight: 600;
      }
    }

  }

  @media all and (max-width: 500px) {

    .main_content {
      text-align: center;

      .signup_part {
        overflow-x: hidden;
        width: 100%!important;
        input{

        }
      }
      .introduction_part {
        display: none;
      }
    }
  }

  .main_content {
    background: #F9F9F9;
    width: 100%;
    height: 100%;
    display: flex;

    .signup_part {
      background: #F9F9F9;
      float: left;
      width: 480px;
      min-width: 480px;
      max-width: 480px;
      height: 100%;
      padding: 0 60px 0 60px;

      .err_holder {
        width: 100%;
        margin-bottom: 20px;

        .err_content {
          border: 1px solid #E8E8E8;
          width: 100%;
          background: white;
          display: flex;
          border-left: 5px solid #CB5234;
          border-radius: 5px;
          img {
            margin: 13px;
            float: left;
          }

          .error {
            color: #56555A;
            font-size: 18px;
            margin: 11px 13px 11px 0;
          }

        }
      }

      h2 {
        font-weight: 600;
        line-height: 2.5rem;
      }

      h4 {
        font-family: cursive;
        margin: 0;
      }

      .title {
        color: #434245;
        font-size: 40px;
        font-weight: lighter;
      }
      .your {
        margin-top: 30px;
        color: #434245;
        font-size: 16px;
      }
      .pw {
        margin-top: 10px;
        color: #434245;
        font-size: 16px;
      }
      .error_offline {
        margin: 0px;
        padding: 5px ;
        color: red;
        text-align: end;
      }

      input {
        width: 100%;
        margin: 1rem 0 0 0;
        color: #555459;
        padding: .75rem;
        border: 1px solid #C5C5C5;
        border-radius: .25rem;
        font-size: 1.25rem;
      }

      .more_info {
        color: #434247;
        text-align: center;
        font-family: cursive;
        font-size: 16px;
        margin-top: 20px;
      }

      .button {
        font-size: 1.25rem;
        width: 100%;
        margin-top: 1rem;
        padding: .75rem;
        background: #FFD15D;
        color: white;
        text-align: center;
        border-radius: 5px;
      }

      .button.disabled {
        font-size: 1.25rem;
        width: 100%;
        padding: .75rem;
        background: gray;
        color: white;
        pointer-events: none;
        text-align: center;
        border-radius: 5px;
      }

      .button:hover {
        padding: .7rem;
        border-bottom: 2px solid #d4ae4e;
      }

    }
    .introduction_part {
      float: left;
      width: 100%;
      background: rgba(91, 212, 109, 0.81);;
      height: 100%;

      .looking{
        padding-left: 5px;
        margin-top: 20px;
        font-size: 14px;
        button{
          background: rgba(255, 255, 255, 0);
          border-radius: 5px;
          border: 1px solid white;
          margin-left: 5px;
          padding: 10px 15px 10px 15px;
        }
        button:hover{
          background: white;
          color: black;
        }
      }
      img {
        position: absolute;
        top: 0; bottom:0; left: 0; right:0;
        margin: auto;
      }

    }
    .clear {
      clear:both;
    }
  }
}
